/* Add this to the existing styles.css */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo-container img {
    max-width: 100%;
    height: auto;
    max-height: 50px; /* Adjust the height as needed */
}

.buttons-container {
    display: flex;
}

.search-button, .cart-button {
    margin-left: 10px;
    padding: 8px 15px;
    background-color: #3498db;
    color: #ffffff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 8px;
    padding: 15px;
    margin: 10px;
    text-align: center;
    width: 200px; /* Adjust the width as needed */
}

.section-image {
    max-width: 100%;
    height: auto;
    max-height: 150px; /* Adjust the height as needed */
    border-radius: 8px;
}
.banner-container {
    text-align: center;
    margin-top: 20px;
    overflow: hidden;
}

.banner-image {
    width: 100%;
    height: auto;
    max-height: calc(100vh - 20px - 400px); /* Adjust the height as needed */
}
